:root {
  --blue: #3498DB;
  --grey: #7F8C8D;
  --blueish-grey: #95A5A6;
  --white: #FFFFFF;
  --black: #000000;
  --red: #E74C3C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arsenal', 'Roboto', 'Helvetica Neue', sans-serif;
  background-color: var(--blueish-grey);
  color: var(--black);
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1.2;
  color: var(--black);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-family: 'Arsenal', 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--black);
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.75rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  h4 {
    font-size: 1.25rem;
  }
  
  h5 {
    font-size: 1.1rem;
  }
}

#root {
  min-height: 100vh;
}


.App {
  text-align: center;
}
